.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
}

.cardContainer .card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -25%;
  height: 500px;
  width: 1200px;
  border-radius: 25px;
  padding: 50px;
  transform-origin: top;
}

.cardContainer .card h2 {
  text-align: center;
  margin: 0px;
  font-size: 28px;
}

.cardContainer .card .body {
  display: flex;
  height: 100%;
  margin-top: 50px;
  gap: 50px;
}

.cardContainer .card .body .description {
  width: 30%;
  position: relative;
  top: 10%;
}

.cardContainer .card .body .description p {
  font-size: 24px;
}

.cardContainer .card .body .description p::first-letter {
  font-size: 36px;
  /* font-family: "Title"; */
  font-weight: bold;
}

.cardContainer .card .body .description span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardContainer .card .body .description span a {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.cardContainer .card .body .imageContainer {
  position: absolute;
  width: 60%;
  height: 70%;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

.cardContainer .card .body .imageContainer .inner {
  width: 100%;
  height: 100%;
}

.cardContainer .card .body .imageContainer img {
  object-fit: cover;
}

@media (min-width: 481px) and (max-width: 768px) {
  .cardContainer .card {
    height: 680px;
    width: 90%;
    padding: 40px;
    border-radius: 15px;
    top: 0;
  }

  .cardContainer .card h2 {
    font-size: 24px;
  }

  .cardContainer .card .body {
    flex-direction: column;
    gap: 20px;
  }

  .cardContainer .card .body .description {
    width: 100%;
    top: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .cardContainer .card .body .description p {
    font-size: 18px;
  }

  .cardContainer .card .body .description p::first-letter {
    font-size: 24px;
  }

  .cardContainer .card .body .imageContainer {
    position: relative;
    margin-top: 1.5rem;
    width: 100%;
    height: 350px;
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .cardContainer .card {
    height: 680px;
    width: 90%;
    padding: 20px;
    border-radius: 15px;
    top: 0;
  }

  .cardContainer .card h2 {
    font-size: 24px;
  }

  .cardContainer .card .body {
    flex-direction: column;
    gap: 20px;
  }

  .cardContainer .card .body .description {
    width: 100%;
    top: 0;
    margin-top: 1rem;
    text-align: center;
  }

  .cardContainer .card .body .description p {
    font-size: 18px;
  }

  .cardContainer .card .body .description p::first-letter {
    font-size: 24px;
  }

  .cardContainer .card .body .imageContainer {
    position: relative;
    margin-top: 1.5rem;
    width: 100%;
    height: 350px;
    border-radius: 10px;
  }
}
